$primary-color: #4d194d;
$secondary-color: #253237;
$big-font: 1.4rem;
$spacious-line: 2rem;

.contact-header {
  height: 60vh;
  background-image: url("../img/contact.jpg");
  background-color: rgba(77, 25, 77, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;

  h1 {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    width: 70%;
  }
}

.form-wrap {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-form {
  display: grid;
  gap: 1rem;
  width: 70vw;
  margin: 6rem 0 4rem;

  input {
    padding: 1rem 0.6rem;
    border: 1px solid $primary-color;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }

  .alert {
    margin-top: -1.4rem;
    color: $primary-color;
  }

  textarea {
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 1rem;

    &::placeholder {
      font-family: "Rubik", sans-serif;
    }
  }

  .btn {
    background-color: $primary-color;
    color: white;
    font-size: 1.2rem;

    &:hover {
      background-color: rgba(77, 25, 77, 0.9);
      border-bottom: 2px solid $primary-color;
      cursor: pointer;
    }
  }
}

.find-us {
  display: flex;
  margin-top: 4rem;

  #map {
    height: 50vh;
    width: 50vw;
  }

  .address {
    height: 50vh;
    width: 50vw;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin-bottom: 2rem;
    }

    p {
      color: white;
    }
  }
}
