@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #253237;
  background-color: #dee2e6;
}

.fixed-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

.desk-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(77, 25, 77, 0.8);
  -webkit-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  padding: 2rem 4rem;
  height: 5rem;
  color: white;
  z-index: 3;
}

.clear-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
  height: 5rem;
  width: 100%;
  color: white;
  z-index: 3;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  height: 100%;
}

.nav-items li a:hover {
  opacity: 1;
  border-bottom: 1px solid white;
}

.mob-icon {
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.mob-icon:hover {
  opacity: 1;
}

.jumbo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
  background-color: #dee2e6;
  padding: 4rem;
}

.jumbo h3 {
  font-size: 2rem;
}

.jumbo a {
  text-decoration: none;
  background-color: #4d194d;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
}

.jumbo a:hover {
  background-color: rgba(77, 25, 77, 0.9);
  border-bottom: 2px solid #4d194d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
  background-color: #495057;
  border-top: 1px solid #4d194d;
}

.socials {
  padding: 1rem;
}

.icon {
  height: 70px;
  margin-right: 0.5rem;
}

.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 10px;
}

.footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer-details h3 {
  color: white;
  font-weight: 300;
  margin-bottom: 1rem;
}

.footer-details p {
  color: white;
  line-height: 1.5rem;
}

.footer-details p a {
  text-decoration: none;
  color: white;
}

.footer-details p a:hover {
  color: #4d194d;
}

.copyright {
  background-color: #4d194d;
  color: white;
  padding: 1rem;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1089px) {
  .home-header {
    height: 60vh;
  }
  .desk-nav {
    padding: 0;
  }
  .pages-nav {
    padding: 1rem;
  }
  .make-deal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-size: 80%;
    background-position: center;
  }
  .make-deal .choice-text {
    border: none;
    width: 100%;
  }
  .nav-items {
    position: absolute;
    right: 0;
    width: 50%;
    top: 15vh;
    background-color: rgba(77, 25, 77, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #4d194d;
    border-radius: 20px 0 0 20px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav-items li {
    margin: 4rem auto;
  }
  .nav-items li a {
    opacity: 1;
  }
  .mob-icon {
    display: block;
  }
  .mob-nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .flipped {
    opacity: 1;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .design-section h2 {
    width: 60%;
    margin-top: 1rem;
  }
  .design-section .design-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design-section .design-content img {
    width: 90%;
    margin-bottom: 2rem;
  }
  .design-section .design-content .design-text {
    margin-left: 0;
    text-align: center;
  }
  .market-section h2 {
    width: 60%;
    margin-top: 1rem;
  }
  .market-section .market-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .market-section .market-content img {
    width: 90%;
    margin-bottom: 2rem;
  }
  .market-section .market-content .desk-img {
    display: none;
  }
  .market-section .market-content .mob-img {
    display: block;
  }
  .market-section .market-content .market-text {
    margin-left: 0;
    text-align: center;
  }
  .our-story-header {
    height: 60vh;
  }
  .our-story-header h1 {
    font-size: 2.2rem;
  }
  .our-story-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 2rem;
  }
  .our-story-intro .our-story-text {
    margin: 0;
  }
  .our-story-intro .team-pic {
    margin-top: 2rem;
    width: 90%;
  }
  .began {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
  .began .began-pic {
    width: 100vw;
    margin-bottom: 2rem;
    border-radius: 0;
  }
  .began .began-text {
    margin: 0;
    width: 70%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .card {
    width: 70%;
  }
  .faq-header {
    height: 40vh;
  }
  .accordian-outer .accordian {
    width: 80%;
    margin: 4rem 1rem;
  }
  .accordian-outer .accordian details {
    width: 100%;
  }
  .accordian-outer .accordian summary {
    font-size: 1rem;
  }
  .accordian-outer .accordian .chevron {
    width: 0.5rem;
  }
  .accordian-outer .accordian .active {
    font-size: 1.3rem;
  }
  .accordian-outer .accordian p {
    font-size: 1rem;
  }
  .grid-form {
    width: 90vw;
  }
  .find-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .find-us #map {
    width: 90vw;
  }
  .find-us .address {
    width: 90vw;
  }
}

@media screen and (max-width: 619px) {
  .jumbo {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trustpilot {
    padding: 2rem 0;
  }
  .trustpilot h2 {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto 1rem;
    color: #253237;
  }
  .trustpilot #tp-logo {
    width: 10rem;
  }
  .trustpilot .carousel-wrap {
    width: 100%;
  }
  .trustpilot .carousel-wrap .carousel-container {
    width: 350px;
  }
  .trustpilot .carousel-wrap .carousel-container .card {
    width: 375px;
  }
  .trustpilot #prev-arrow {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
  }
  .trustpilot #next-arrow {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
  }
  .mail-list #mail-list-email {
    width: 18rem;
  }
  .make-deal {
    text-align: left;
    padding: 1rem;
  }
  .make-deal .choice-text h3 {
    font-size: 2rem;
  }
  .make-deal .choice-text .caption {
    font-size: 1.6rem;
  }
  .card h2 {
    margin: 0 0 1rem;
  }
  .services-heading p {
    display: none;
  }
  .statement p {
    font-size: 1.2rem;
    width: 90%;
  }
  .design-section h2 {
    width: 100%;
  }
  .design-section .design-content img {
    width: 120%;
    margin-bottom: 2rem;
  }
  .design-section .design-content .design-text {
    margin-left: 0;
    text-align: center;
  }
  .market-section h2 {
    width: 100%;
  }
  .market-section .market-content img {
    width: 120%;
    margin-bottom: 2rem;
  }
  .market-section .market-content .market-text {
    margin-right: 0;
    text-align: center;
  }
  .our-story-body h2 {
    width: 80%;
  }
  .our-story-body p {
    font-size: 1rem !important;
    width: 100% !important;
  }
  .our-story-header {
    height: 40vh;
  }
  .our-story-header h1 {
    display: none;
  }
  .our-story-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
  }
  .our-story-intro .our-story-text {
    margin: 0;
  }
  .our-story-intro .team-pic {
    margin-top: 2rem;
    width: 100%;
  }
  .bright-ideas .bright-ideas-text {
    padding: 2rem;
  }
  .bright-ideas .bright-ideas-text h3 {
    margin-bottom: 2rem;
  }
  .bright-ideas .bright-ideas-text p {
    width: 100%;
    margin: 0;
  }
  .began {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
  .began .began-pic {
    width: 100vw;
    margin-bottom: 2rem;
    border-radius: 0;
  }
  .began .began-text {
    margin: 0;
    width: 90%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .card {
    width: 90%;
  }
  .faq-header {
    background-position: center;
  }
  .contact-header {
    height: 40vh;
  }
}

.home-header {
  height: 90vh;
  background-color: rgba(77, 25, 77, 0.3);
  background-image: url("../img/suits.jpg");
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 15rem 0;
}

#home {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
}

.trustpilot {
  min-height: 40vh;
  background-color: #dee2e6;
  text-align: center;
  padding: 4rem 0;
}

.trustpilot h2 {
  font-size: 3rem;
  font-weight: 500;
  width: 30rem;
  margin: 0 auto 2rem;
}

.trustpilot span {
  color: #4d194d;
}

.trustpilot .carousel-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trustpilot .carousel-wrap .carousel-container {
  width: 1425px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.trustpilot .carousel-wrap .carousel-container .carousel-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trustpilot .carousel-wrap .carousel-container .carousel-slider .card {
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 0.5rem;
}

.trustpilot .arrow {
  z-index: 3;
  height: 30px;
  width: 30px;
  margin: 1rem;
  -webkit-filter: invert(46%) sepia(25%) saturate(172%) hue-rotate(166deg) brightness(91%) contrast(85%);
          filter: invert(46%) sepia(25%) saturate(172%) hue-rotate(166deg) brightness(91%) contrast(85%);
}

.trustpilot .arrow:hover {
  cursor: pointer;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(241deg) brightness(100%) contrast(104%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(241deg) brightness(100%) contrast(104%);
}

.mail-list {
  padding: 2.5rem;
  background-color: rgba(77, 25, 77, 0.8);
  border-radius: 15rem 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.mail-list h2 {
  color: white;
  font-weight: 300;
  margin-bottom: 1rem;
}

.mail-list #mail-list-email {
  width: 30rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(77, 25, 77, 0);
  color: white;
  padding-left: 1rem;
  margin-bottom: 0.4rem;
}

.mail-list #mail-list-email::-webkit-input-placeholder {
  color: white;
  letter-spacing: 1px;
}

.mail-list #mail-list-email:-ms-input-placeholder {
  color: white;
  letter-spacing: 1px;
}

.mail-list #mail-list-email::-ms-input-placeholder {
  color: white;
  letter-spacing: 1px;
}

.mail-list #mail-list-email::placeholder {
  color: white;
  letter-spacing: 1px;
}

.mail-list #mail-list-submit {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
  background-color: white;
  border: none;
  color: #4d194d;
  font-weight: 700;
  margin-left: 1rem;
}

.mail-list #mail-list-submit:hover {
  cursor: pointer;
}

.mail-list #mail-list-alert {
  color: white;
  padding: 0 0 1rem 0;
}

.make-deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 60vh;
  background-color: white;
  background-image: url("../img/handshake.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 4rem;
}

.make-deal .choice-text {
  height: 100%;
  width: 50%;
  border-left: 1px solid #4d194d;
  padding: 2rem;
}

.make-deal .choice-text h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #253237;
}

.make-deal .choice-text span {
  color: #4d194d;
}

.make-deal .choice-text p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.make-deal .choice-text .caption {
  font-size: 2rem;
}

.statement {
  padding: 2rem;
  text-align: center;
  background-color: #4d194d;
  border-radius: 0 0 25rem 25rem;
}

.statement p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: white;
  line-height: 2rem;
  letter-spacing: 0.7px;
}

.services-header {
  height: 60vh;
  background-image: url("../img/meeting.jpg");
  background-color: rgba(77, 25, 77, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

.services-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 35%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
}

.services-heading h1 {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.services-heading p {
  font-size: 1.5rem;
  width: 70%;
}

.statement {
  padding: 2rem;
  text-align: center;
  background-color: #4d194d;
  border-radius: 0 0 25rem 25rem;
}

.statement p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: white;
  line-height: 2rem;
  letter-spacing: 0.7px;
}

.services {
  background-color: white;
}

.design-section {
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
}

.design-section h2 {
  width: 40%;
  color: #4d194d;
  margin: 3rem auto;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid #253237;
}

.design-section p {
  font-size: 1.4rem;
}

.design-section .design-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
}

.design-section .design-content img {
  width: 50%;
  border-radius: 20px;
}

.design-section .design-content .design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4rem;
}

.design-section .design-content .design-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.market-section {
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
}

.market-section h2 {
  width: 40%;
  color: #4d194d;
  margin: 3rem auto;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid #253237;
}

.market-section p {
  font-size: 1.4rem;
}

.market-section .market-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
}

.market-section .market-content img {
  width: 50%;
  border-radius: 20px;
}

.market-section .market-content .mob-img {
  display: none;
}

.market-section .market-content .market-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4rem;
}

.market-section .market-content .market-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.design-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
}

.design-content img {
  width: 50%;
  border-radius: 20px;
}

.design-content .design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4rem;
}

.design-content .design-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.our-story-body {
  background-color: white;
  text-align: center;
}

.our-story-body h2 {
  width: 30%;
  color: #4d194d;
  margin: 3rem auto;
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid #253237;
}

.our-story-header {
  height: 80vh;
  background-image: url("../img/turbines.jpg");
  background-position: center;
  background-size: cover;
}

.our-story-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 40%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
}

.our-story-heading h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  padding: 1rem;
}

.our-story-heading p {
  font-size: 1.5rem;
  width: 70%;
}

.our-story-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 2rem;
  background-color: white;
}

.our-story-intro .our-story-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4rem;
}

.our-story-intro .our-story-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.our-story-intro .our-story-text p {
  font-size: 1.4rem;
}

.our-story-intro .team-pic {
  width: 50%;
  border-radius: 20px;
}

.bright-ideas {
  background-color: #dee2e6;
}

.bright-ideas .bulb-pic {
  width: 100%;
}

.bright-ideas .bright-ideas-text {
  text-align: center;
  padding: 3rem 0 0 0;
}

.bright-ideas .bright-ideas-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
}

.bright-ideas .bright-ideas-text p {
  font-size: 1.4rem;
  width: 70%;
  margin: 3rem auto;
}

.bright-ideas .bright-ideas-subtext {
  text-align: center;
  padding: 2rem;
}

.bright-ideas .bright-ideas-subtext h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
}

.bright-ideas .bright-ideas-subtext p {
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto;
  padding: 0 0 2rem;
}

.began {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 2rem;
  background-color: white;
}

.began .began-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4rem;
}

.began .began-text h3 {
  color: #4d194d;
  font-size: 1.6rem;
  margin: 2rem 0;
}

.began .began-text p {
  font-size: 1.4rem;
}

.began .began-pic {
  width: 50%;
  border-radius: 20px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.features .card {
  width: 30%;
  padding: 0;
  margin: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.features .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.features .card .card-text {
  padding: 2rem;
}

.features .card .card-text h4 {
  color: #4d194d;
  padding: 1rem 1rem 1rem 0;
  font-size: 2rem;
}

.features .card .card-text p {
  font-size: 1.1rem;
  width: 80%;
  margin-bottom: 4rem;
}

.features .card .card-text a {
  text-decoration: none;
  background-color: #4d194d;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3rem;
}

.features .card .card-text a:hover {
  background-color: rgba(77, 25, 77, 0.9);
  border-bottom: 2px solid #4d194d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

h2 {
  color: #4d194d;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.faq-header {
  height: 60vh;
  background-image: url("../img/faq.jpg");
  background-color: rgba(77, 25, 77, 0.3);
  background-blend-mode: multiply;
  background-position-y: 30%;
  background-size: cover;
}

.accordian-outer {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.accordian-outer .accordian {
  width: 60%;
  margin: 6rem;
  text-align: center;
}

.accordian-outer h3 {
  color: #4d194d;
  font-size: 1.7rem;
}

.accordian-outer .question-group {
  margin-bottom: 3rem;
}

.accordian-outer .question-group h3 {
  margin-bottom: 1rem;
}

.accordian-outer details {
  border-bottom: 1px solid #4d194d;
}

.accordian-outer details p {
  padding: 0rem 1rem 1rem 0;
  text-align: left;
}

.accordian-outer details[open] summary ~ * {
  -webkit-animation: sweep 0.6s;
          animation: sweep 0.6s;
}

summary {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  text-align: left;
}

summary .chevron {
  width: 1rem;
}

summary:hover {
  cursor: pointer;
  color: #4d194d;
}

.active {
  color: #4d194d;
  font-size: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.arrow-flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact-header {
  height: 60vh;
  background-image: url("../img/contact.jpg");
  background-color: rgba(77, 25, 77, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.contact-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 40%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
}

.contact-heading h1 {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 3rem;
}

.contact-heading p {
  font-size: 1.5rem;
  width: 70%;
}

.form-wrap {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-form {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 70vw;
  margin: 6rem 0 4rem;
}

.grid-form input {
  padding: 1rem 0.6rem;
  border: 1px solid #4d194d;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.grid-form .alert {
  margin-top: -1.4rem;
  color: #4d194d;
}

.grid-form textarea {
  border: 1px solid #4d194d;
  border-radius: 10px;
  padding: 1rem;
}

.grid-form textarea::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
}

.grid-form textarea:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
}

.grid-form textarea::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
}

.grid-form textarea::placeholder {
  font-family: "Rubik", sans-serif;
}

.grid-form .btn {
  background-color: #4d194d;
  color: white;
  font-size: 1.2rem;
}

.grid-form .btn:hover {
  background-color: rgba(77, 25, 77, 0.9);
  border-bottom: 2px solid #4d194d;
  cursor: pointer;
}

.find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.find-us #map {
  height: 50vh;
  width: 50vw;
}

.find-us .address {
  height: 50vh;
  width: 50vw;
  background-color: #4d194d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-us .address a {
  margin-bottom: 2rem;
}

.find-us .address p {
  color: white;
}

@media screen and (max-width: 1089px) {
  .home-header {
    height: 60vh;
  }
  .desk-nav {
    padding: 0;
  }
  .pages-nav {
    padding: 1rem;
  }
  .make-deal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-size: 80%;
    background-position: center;
  }
  .make-deal .choice-text {
    border: none;
    width: 100%;
  }
  .nav-items {
    position: absolute;
    right: 0;
    width: 50%;
    top: 15vh;
    background-color: rgba(77, 25, 77, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #4d194d;
    border-radius: 20px 0 0 20px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav-items li {
    margin: 4rem auto;
  }
  .nav-items li a {
    opacity: 1;
  }
  .mob-icon {
    display: block;
  }
  .mob-nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .flipped {
    opacity: 1;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .design-section h2 {
    width: 60%;
    margin-top: 1rem;
  }
  .design-section .design-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design-section .design-content img {
    width: 90%;
    margin-bottom: 2rem;
  }
  .design-section .design-content .design-text {
    margin-left: 0;
    text-align: center;
  }
  .market-section h2 {
    width: 60%;
    margin-top: 1rem;
  }
  .market-section .market-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .market-section .market-content img {
    width: 90%;
    margin-bottom: 2rem;
  }
  .market-section .market-content .desk-img {
    display: none;
  }
  .market-section .market-content .mob-img {
    display: block;
  }
  .market-section .market-content .market-text {
    margin-left: 0;
    text-align: center;
  }
  .our-story-header {
    height: 60vh;
  }
  .our-story-header h1 {
    font-size: 2.2rem;
  }
  .our-story-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 2rem;
  }
  .our-story-intro .our-story-text {
    margin: 0;
  }
  .our-story-intro .team-pic {
    margin-top: 2rem;
    width: 90%;
  }
  .began {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
  .began .began-pic {
    width: 100vw;
    margin-bottom: 2rem;
    border-radius: 0;
  }
  .began .began-text {
    margin: 0;
    width: 70%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .card {
    width: 70%;
  }
  .faq-header {
    height: 40vh;
  }
  .accordian-outer .accordian {
    width: 80%;
    margin: 4rem 1rem;
  }
  .accordian-outer .accordian details {
    width: 100%;
  }
  .accordian-outer .accordian summary {
    font-size: 1rem;
  }
  .accordian-outer .accordian .chevron {
    width: 0.5rem;
  }
  .accordian-outer .accordian .active {
    font-size: 1.3rem;
  }
  .accordian-outer .accordian p {
    font-size: 1rem;
  }
  .grid-form {
    width: 90vw;
  }
  .find-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .find-us #map {
    width: 90vw;
  }
  .find-us .address {
    width: 90vw;
  }
}

@media screen and (max-width: 619px) {
  .jumbo {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trustpilot {
    padding: 2rem 0;
  }
  .trustpilot h2 {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto 1rem;
    color: #253237;
  }
  .trustpilot #tp-logo {
    width: 10rem;
  }
  .trustpilot .carousel-wrap {
    width: 100%;
  }
  .trustpilot .carousel-wrap .carousel-container {
    width: 350px;
  }
  .trustpilot .carousel-wrap .carousel-container .card {
    width: 375px;
  }
  .trustpilot #prev-arrow {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
  }
  .trustpilot #next-arrow {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
  }
  .mail-list #mail-list-email {
    width: 18rem;
  }
  .make-deal {
    text-align: left;
    padding: 1rem;
  }
  .make-deal .choice-text h3 {
    font-size: 2rem;
  }
  .make-deal .choice-text .caption {
    font-size: 1.6rem;
  }
  .card h2 {
    margin: 0 0 1rem;
  }
  .services-heading p {
    display: none;
  }
  .statement p {
    font-size: 1.2rem;
    width: 90%;
  }
  .design-section h2 {
    width: 100%;
  }
  .design-section .design-content img {
    width: 120%;
    margin-bottom: 2rem;
  }
  .design-section .design-content .design-text {
    margin-left: 0;
    text-align: center;
  }
  .market-section h2 {
    width: 100%;
  }
  .market-section .market-content img {
    width: 120%;
    margin-bottom: 2rem;
  }
  .market-section .market-content .market-text {
    margin-right: 0;
    text-align: center;
  }
  .our-story-body h2 {
    width: 80%;
  }
  .our-story-body p {
    font-size: 1rem !important;
    width: 100% !important;
  }
  .our-story-header {
    height: 40vh;
  }
  .our-story-header h1 {
    display: none;
  }
  .our-story-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
  }
  .our-story-intro .our-story-text {
    margin: 0;
  }
  .our-story-intro .team-pic {
    margin-top: 2rem;
    width: 100%;
  }
  .bright-ideas .bright-ideas-text {
    padding: 2rem;
  }
  .bright-ideas .bright-ideas-text h3 {
    margin-bottom: 2rem;
  }
  .bright-ideas .bright-ideas-text p {
    width: 100%;
    margin: 0;
  }
  .began {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
  .began .began-pic {
    width: 100vw;
    margin-bottom: 2rem;
    border-radius: 0;
  }
  .began .began-text {
    margin: 0;
    width: 90%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .card {
    width: 90%;
  }
  .faq-header {
    background-position: center;
  }
  .contact-header {
    height: 40vh;
  }
}
/*# sourceMappingURL=styles.css.map */